*.zip
*.jar
*.mod
*.swp
*~
mx.syslog-ng-jdbc/*.pyc
mx.syslog-ng-jdbc/env
mx.syslog-ng-jdbc/eclipse-launches/**
mx.syslog-ng-jdbc/libs/*.ll
mx.syslog-ng-jdbc/libs/*.bc
.DS_Store
build.xml
workingsets.xml
hs_err_pid*.log
compilations-*.cfg
syslog-ng-jdbc/**
lib/**
mxbuild/**
mx.imports/**
.idea/**
build/**
graal/**
projects/.project
projects/*/nbproject/
projects/*/build.xml
projects/*/\.settings
projects/*/\.classpath
projects/*/\.project
projects/*/\bin
projects/*/\.checkstyle
projects/*/*.iml
projects/*/\.factorypath
